* { margin: 0px; padding: 0px }
html { overflow-y: scroll; }
body { font-family: "Open Sans", Tahoma; font-size: 18px; color: #333; background-color: #f6f6f6; }
input, select, textarea { font-family: "Open Sans", Tahama; color: #111; background-color: #fff; border-radius: 3px; padding: 2px; }
h1, h2, h3, h4, h5, h6 { font-weight: 100; }
a, a:visited, a:active, a:hover { outline: none; text-decoration: none; color: #06f; }
table, p, blockquote, ol, ul { margin-bottom: 1em; }
p { text-align: justify; }
p.center { text-align: center; }

blockquote { 
    margin: 2em; 
    font-style: italic; 
    padding: 2em;
    background-color: #e0e0e0;
    font-size: 1.4em;
    border-radius: 10px;
}

.wrapper { 
    max-width: 1350px; 
    margin: 0px auto; 
}
#header { 
    height: 15em; 
    background-color: #012; 
    color: #fff; 
    border-bottom: 1px solid #a0a0a0; 
    background-size: 100%;
    box-shadow: 0px 5px 10px #888; 
    margin-bottom: 2em;
    position: relative;
    background: linear-gradient(#012, #124);
}
#header .wrapper h3 { 
    font-size: 3em;
    text-shadow: 0px 0px 10px #ccc;
    line-height: 3em;
    padding: 2em 0 0 .25em;
    cursor: pointer;
}

#header a.hamburger {
    float: right;
    width: 1em;
    height: 1em;
    margin-top: -1.3em;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
    display: none;
    margin-right: .5em;
    background-image: url(/images/hamburger.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#header .wrapper ul { list-style-type: none; margin-top: -14em; float: right; margin-right: 1em; } 
#header .wrapper ul li { display: inline-block; text-shadow: none; margin-right: 2em; }
#header .wrapper ul li a { text-decoration: none; color: #fff; letter-spacing: 2px; }

#content { min-height: 20em; }
#content .leftCol { padding: 0 2em; width: 65%; float: left; }
#content .rightCol { width: 29%; float: right; }

p.social { border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0; text-align: center; padding: .5em 0; margin: 2em 0; }
p.social a { display: inline-block; margin-right: 1em; }
p.banter { padding: 0 1em; text-align: center; }

div.mugShot { text-align: center; }
div.mugShot img { width: 200px; height: 200px; border: 2px solid #012; border-radius: 5px; box-shadow: 0px 0px 20px #111; background-color: #000; }

#footer { clear: both; padding-top: 1em; }
#footer .wrapper { padding: 0 1em; }
#footer .wrapper p { border-top: 1px solid #a0a0a0; font-size: .875em; line-height: 2em; } 

.post h2, .post h2 a { font-weight: 400; margin-bottom: 1em; text-align: left; color: #25458E!important; }
.post h3 { font-weight: bold; font-size: 1em; margin-bottom: 1em; }
.post .authorInfo { font-size: .875em; margin-bottom: 1.5em; margin-top: -1em; border-bottom: 1px solid #e0e0e0; padding-bottom: .5em; color: #000;}
.post .authorInfo .dateText { padding-left: 1em; color: #888;}
.post img { width: 100%; max-width: 600px; border: 1px solid #ccc; box-shadow: 0 0 10px #ccc; }

.post.frontPage h2 a:hover { text-decoration: underline; }
.post.frontPage .authorInfo { margin-top: 1em; }
/* .noItems { font-style: italic; } */

pre {
    background-color: #eee;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
    overflow: auto;
    font-size: .875em;
}

span.inlineCode { display: inline; font-family: Courier; padding: 0; }
p.center img { cursor: pointer; }

@media (max-height: 900px){
    body { font-size: 15px; }
    #header { height: 10em; }
    #header .wrapper h3 { font-size: 2em; }
    #header .wrapper ul { margin-top: -9em; }
}

@media (max-height: 550px){
    #header { height: 3.5em; }
    #header .wrapper h3 {
        font-size: 2em;
        line-height: 1.5em;
        padding: 0 0 0 .25em;
    }
    #header .wrapper ul { margin-top: -2em; }
    #header .wrapper ul li { margin-right: .5em; }
}

@media (max-width: 1024px) {
    body { font-size: 15px; }
    #header { height: 3.5em; }
    #header .wrapper h3 {
        font-size: 1.5em;
        line-height: 2.2em;
        padding: 0 0 0 .25em;
    }
    #header .wrapper ul { margin-top: -2.2em; }
    #header .wrapper ul li { margin-right: .5em; }
    .wrapper { max-width: 1500px; }
    #content .rightCol {
        float: none;
        width: auto;
    }
    #content .leftCol {
        float: none;
        width: auto;
    }
    #content div.mugShot { display: none; }
    #content p.banter { display: none; }
    #content p.social { border-top: none; border-bottom: none; }
    #content .twitter-timeline { display: none!important; }
}

@media (max-width: 480px){
    #header .wrapper ul {
        position: absolute; 
        top: 5.7em;
        left: 0;
        right: 0;
        background-color: #012;
        margin-right: 0;
        display: none;
        box-shadow: 0px 0px 10px #012;
        transition: all .25s;
    }
    #header .wrapper ul.active {
        display: block;
    }
    #header .wrapper ul li {
        display: block;
        margin-right: 0;
        text-align: right;
    }
    #header .wrapper ul li:hover {
        background-color: #123;
    }
    #header .wrapper ul li a {
        display: block; 
        padding: .75em;
    }
    #header .wrapper ul li a:after {
        content: '\02192';
        padding-left: 1em; 
    }
    #header .wrapper a.hamburger { display: inline-block; }
    /* #content .post h2 { text-align: center; } */
    #content p.teaserLink { text-align: center; }
    #footer p { text-align: center; }
}
